<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772665708682-2tgfgd90gribamv9lu33larmurqggml2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772665708682-2tgfgd90gribamv9lu33larmurqggml2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772665708682-ec1t9kbe6pgb4ronqclm0scf5po2mr50.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBouj2LQH8aiHrbm3yRQoICavkWcofZ7yM</string>
	<key>GCM_SENDER_ID</key>
	<string>772665708682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.xflowapp</string>
	<key>PROJECT_ID</key>
	<string>xflowapp-fc4b6</string>
	<key>STORAGE_BUCKET</key>
	<string>xflowapp-fc4b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772665708682:ios:289eaa8ef384af25941d73</string>
</dict>
</plist>